.alertRoot {
  @include border-radius(var(--mantine-radius-lg));
}

.alertIcon {
  margin-right: rem(5px);
}

.alertBody {
  gap: rem(2px);
}

.alertTitle {
  font-weight: 400;
  font-size: var(--mantine-font-size-sm);
}

.alertMessage {
  color: var(--mantine-color-dimmed);
  font-size: var(--mantine-font-size-xs);
}

.edit {
  cursor: pointer;
}

.infoIcon {
  height: rem(16);
  width: rem(16);
  color: var(--mantine-color-dimmed);
  cursor: pointer;
  line-height: var(--mantine-line-height-md);
}
