.searchInput {
  background: var(--mantine-color-gray-0);
  border-color: var(--mantine-color-gray-2);
  @include border-radius(var(--mantine-radius-md));
  margin-left: auto;
}
.wrapperInput {
  width: rem(160px);
}
