.accountType {
  background-color: var(--mantine-color-gray-0);

  @include border-radius(var(--mantine-radius-lg));
  cursor: pointer;

  border-style: solid;
  border-width: rem(2px);
  border-color: var(--mantine-color-white);

  @include transition();
  &.isSelected {
    border-color: var(--mantine-color-black);
  }
}
