.input {
  border: none;
}

.compose {
  border-top: rem(1px) solid var(--mantine-color-general-1);
}

.sidebar {
  border-right: rem(1px) solid var(--mantine-color-general-1);
}

.chatHeader {
  border-bottom: rem(1px) solid var(--mantine-color-general-1);
}
