// Existing variables and their defaults
$nice-dates-color-gray-dark: #333;
$nice-dates-color-gray: #999;
$nice-dates-color-gray-light: #ddd;
$nice-dates-color-accent: var(--mantine-primary-color-5);
$nice-dates-font-size-small: 12px;
$nice-dates-font-size-base: 14px;
$nice-dates-font-size-big: 16px;

@import 'react-nice-dates/src/style.scss';

.nice-dates-navigation_next {
  display: none;
}

.nice-dates-navigation_previous {
  display: none;
}

.nice-dates-navigation_current {
  text-align: left;
  padding-top: 0;
  padding-bottom: var(--mantine-spacing-lg);
  font-weight: 500;
}

.nice-dates-week-header_day {
  font-size: var(--mantine-font-size-xxs);
  text-transform: uppercase;
}

.nice-dates-grid_container {
  //   gap: 15px;
}

.nice-dates-day {
  //   height: 38px !important;
  //   width: 38px !important;
  &:before {
    // border-radius: var(--mantine-radius-sm);
  }
}
