.dropzone {
  border: none;
  padding: 0;
}

.logoUploadIconWrapper {
  height: rem(72px);
  width: rem(72px);
  border-radius: 100%;
  background: var(--mantine-color-gray-2);
}
.logoUploadIcon {
  color: black;
  height: rem(40px);
  width: rem(40px);
}

.input {
  border: none;
}

.dateInputIcon {
  color: var(--mantine-color-black);
}
