.sectionTitle {
  font-weight: 500;
}

.tag {
  background-color: var(--mantine-color-gray-2);
  padding: rem(3px) rem(6px);
  max-width: fit-content;
  @include border-radius(var(--mantine-radius-md));
  color: var(--mantine-color-gray-6);
}

.description {
  color: var(--mantine-color-gray-6);

  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.icon {
  color: var(--mantine-color-gray-6);
}
