.tag {
  cursor: pointer;
  font-size: var(--mantine-font-size-xs);
  padding: 5px var(--mantine-spacing-md);
  line-height: var(--mantine-line-height-sm);

  @include transition();
  @include border-radius(var(--mantine-radius-sm));

  @include light {
    color: var(--mantine-color-gray-5);
    background: var(--mantine-color-gray-0);
  }

  @include dark {
    color: var(--mantine-color-gray-5);
    background: var(--mantine-color-gray-8);
  }

  @include hover {
    @include light {
      background: var(--mantine-color-gray-3);
    }
  }
}

.more {
  color: var(--mantine-color-gray-5);
  cursor: pointer;
  height: 25px;
  width: 25px;
}

.header {
  display: flex;
  flex-direction: row;
  gap: var(--mantine-spacing-xs);
  width: 100%;
}

.title {
  line-height: var(--mantine-line-height-xs);
  font-weight: 500;
}

.body {
  width: 100%;
  margin-top: var(--mantine-spacing-sm);
}

.location {
  @include light {
    color: var(--mantine-color-gray-5);
  }

  @include dark {
    color: var(--mantine-color-gray-3);
  }
}

.description {
  line-height: var(--mantine-line-height-lg);
  letter-spacing: 0.5px;
  @include light {
    color: var(--mantine-color-gray-5);
  }

  @include dark {
    color: var(--mantine-color-gray-3);
  }
}

.footer {
  width: 100%;
}

.date {
  @include light {
    color: var(--mantine-color-gray-5);
  }

  @include dark {
    color: var(--mantine-color-gray-3);
  }
}

.actions {
  font-weight: 400;
  @include light {
    color: var(--mantine-color-gray-5);
  }

  @include dark {
    color: var(--mantine-color-gray-3);
  }
}

.action {
  cursor: pointer;
}

.card {
  background-color: var(--mantine-color-white);
  padding: var(--mantine-spacing-xl);

  @include border-radius(var(--mantine-radius-md));
  @include box-shadow(var(--mantine-shadow-sm));
}
