.slide {
  position: relative;
  border: rem(2px) solid var(--mantine-primary-color-5);

  &:before {
    content: '';
    position: absolute;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: rem(3px) solid var(--mantine-color-white);
    border-radius: var(--mantine-radius-lg);
  }
}
