.header {
  border: rem(1px) solid var(--mantine-color-gray-3);
  border-radius: var(--mantine-radius-md);
}

.autocompleteRoot {
  // padding: var(--mantine-spacing-xs);
  padding: 0;
}

.leftSection {
}

.subject {
  border-top: rem(1px) solid var(--mantine-color-gray-3);
}

.editor {
  border: rem(1px) solid var(--mantine-color-gray-3);
  border-radius: var(--mantine-radius-md);
}

.footer {
  padding: var(--mantine-spacing-sm);
}
