.menuTrigger {
  cursor: pointer;
}

.caret {
  color: var(--mantine-color-dimmed);
}

.clipboardIcon {
  @include transition($transition-base);
  opacity: 0;
}

.copyGroup {
  cursor: pointer;

  &:hover {
    .clipboardIcon {
      opacity: 1;
    }
  }
}
