.count {
  font-weight: 600;

  @include smaller-than($mantine-breakpoint-md) {
    font-size: var(--mantine-font-size-md);
  }
}

.description {
  @include light {
    color: var(--mantine-color-gray-6);
  }

  @include dark {
    color: var(--mantine-color-gray-6);
  }

  @include smaller-than($mantine-breakpoint-md) {
    font-size: var(--mantine-font-size-md);
  }
}
