.action {
  @include light {
    color: var(--mantine-color-gray-7);
  }

  @include dark {
    color: var(--mantine-color-gray-5);
  }
}

.value {
  @include light {
    color: var(--mantine-color-black);
  }

  @include dark {
    color: var(--mantine-color-gray-5);
  }
  font-weight: 500;
}

.sort {
  cursor: pointer;
  @include transition();

  &[data-expanded] {
    .chevron {
      transform: rotate(-180deg);
    }
  }
}
