.header {
  // box-shadow: 0 1px 4px 0 rgba(21, 34, 50, 0.08);
  padding: var(--mantine-spacing-sm) var(--mantine-spacing-md);
}

.searchInput {
  // border: none;
  width: rem(388);
  background: var(--mantine-color-gray-0);
}

.logo {
  width: calc(rem(240px) - var(--mantine-spacing-xs) * 2);
}

.spotlightActionGroup {
  &::before {
    padding: 0 var(--mantine-spacing-xs);
  }
}
