.conversationPreview {
  @include transition();

  &:hover {
    background-color: var(--mantine-primary-color-0);
  }
}

.onlineBadge {
  border: rem(5px) solid var(--mantine-color-white);
}

.input {
  border: none;
}

.compose {
  border-top: rem(1px) solid var(--mantine-color-general-1);
}

.sidebar {
  border-right: rem(1px) solid var(--mantine-color-general-1);
}

.conversationHeader {
  border-bottom: rem(1px) solid var(--mantine-color-general-1);
}
