.folder {
  @include transition();

  &.active {
    color: var(--mantine-primary-color-4);
    background: var(--mantine-primary-color-0);
  }

  &:hover {
    color: var(--mantine-primary-color-4);
    background: var(--mantine-primary-color-0);
  }
}

.sidebar {
  border: rem(1px) solid var(--mantine-color-gray-2);
}
