.profileImageDropzone {
  border: none;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='10' ry='10' stroke='%234640DEFF' stroke-width='4' stroke-dasharray='10%2c 20' stroke-dashoffset='39' stroke-linecap='square'/%3e%3c/svg%3e");
  border-radius: var(--mantine-radius-md);
}

.formSectionChildrenCol {
  padding-left: var(--mantine-spacing-xxl);

  @include smaller-than(var(--mantine-breakpoint-md)) {
    padding-left: 0;
  }
}
