.panel {
  padding-bottom: var(--mantine-spacing-sm);
}

.item {
  padding-bottom: var(--mantine-spacing-lg);
}

.checkboxArea {
  display: flex;
  flex-direction: row;
}

.checkboxBadge {
  @include transition($transition-base-short);
  margin-left: auto;
}
